@import "tailwindcss";
@import "./typography.css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
.side-by-side {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.side-by-side > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-by-side img {
    margin-top: 0rem;

  max-width: 100%;
  height: auto;
  margin-bottom: 0rem;
}
.side-by-side figcaption {
  text-align: center;
  margin-top: 0rem; /* Reduce this value for less space */

}
.hover-swap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-swap .img-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hover-swap .main-img {
  display: block;
}

.hover-swap .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
}

/* Ensure figcaption is always below image */
.hover-swap figcaption {
  width: 100%;
  order: 2;
  margin-top: 0.5rem;
  text-align: center;
}

.hover-swap .caption-hover {
  display: none;
}
.hover-swap:hover .caption-default {
  display: none;
}
.hover-swap:hover .caption-hover {
  display: block;
}

.hover-swap:hover .main-img {
  display: none;
}

.hover-swap:hover .hover-img {
  display: block;
}